<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
      <div class="attribution">
        {% block footer_attribution %}
          <div id="rss">
          <p><strong>RSS Feeds</strong></p>
          <ul class="unstyled links">
            {% block rss_links %}
              <li><a href="{{ h.url_for(controller='home', action='about') }}"><img src="/img/rss.png" /> Neue Datensätze</a></li>
              <li><a href="{{ h.url_for(controller='home', action='about') }}"><img src="/img/rss.png" /> Geänderte Datensätze</a></li>
              <li><a href="{{ h.url_for(controller='home', action='about') }}"><img src="/img/rss.png" /> Anwendungen</a></li>
              <li><a href="{{ h.url_for(controller='home', action='about') }}"><img src="/img/rss.png" /> News</a></li>
            {% endblock %}
          </ul>
          </div>
        {% endblock %}
        <div id="language_selector">
        {% block footer_lang %}
          {% snippet "snippets/language_selector.html" %}
        {% endblock %}
        </div>
        {% block footer_contact %}
          <div id="contact">
          <p><strong>Kontakt</strong></p>
          <ul class="unstyled links">
            {% block contact_links %}
              <li><img src="/img/address.png" /> <strong>Adresse:</strong> Wikimedia Österreich,  Siebensterngasse 25/15, 1070 Wien</li>
              <li><img src="/img/phone_grey.png" /> <strong>Telefon:</strong> (+43) 1 xxxxxx</li>
              <li><img src="/img/letter.png" /> <strong>Email:</strong> <a href="mailto: info@opendataportal.at">info@opendataportal.at</a></li>
              
            {% endblock %}
          </ul>          
          </div>          
        {% endblock %}
        
      </div>
      <nav class="footer-links">
        {% block footer_nav %}
          <ul class="unstyled">
            {% block footer_links_ckan %}
              <li>Copyright 2014 by odp. All Rights Reserved.</li>
            {% endblock %}
          </ul>
          <ul class="unstyled links">
            {% block footer_links %}
              <li><a href="{{ h.url_for(controller='home', action='about') }}">FAQ</a> |&nbsp;</li>
              <li><a href="{{ h.url_for(controller='home', action='about') }}">Impressum</a> |&nbsp;</li>
              <li><a href="{{ h.url_for(controller='home', action='about') }}">Netiquette</a> |&nbsp;</li>
              <li><a href="{{ h.url_for(controller='home', action='about') }}">Terms of Use</a> |&nbsp;</li>
              <li><a href="{{ h.url_for(controller='home', action='about') }}">Nutzungsbedingungen</a></li>
            {% endblock %}
          </ul>

        {% endblock %}
      </nav>
    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
