{% ckan_extends %}

{% block form %}
  <div class="alert alert-error">{{ _("Sie sind schon als {user} angemeldet.").format(user=c.user) }} <a href="{{ logout_url }}">Abmelden</a>?</div>
  <div class="form-horizontal">
    {{ form.input('login', label=_('Username'), id='field-login', value="", error="", classes=["control-full"], attrs={"disabled": "disabled"}) }}
    {{ form.input('password', label=_('Password'), id='field-password', type="password", value="", error="", classes=["control-full"], attrs={"disabled": "disabled"}) }}
    {{ form.checkbox('remember', label=_('Remember me'), id='field-remember', checked=true, attrs={"disabled": "disabled"}) }}
    <div class="form-actions">
      <button class="btn btn-primary disabled" type="submit" disabled>{{ _('Log in') }}</button>
    </div>
  </div>
{% endblock %}

{% block secondary_content %}
  <section class="module module-narrow module-shallow">
    <h2 class="module-heading">Sie sind bereits angemeldet</h2>
    <div class="module-content">
      <p>Sie müssen sich abmelden, bevor Sie sich mit einem anderen Benutzer_innenkonto anmelden können.</p>
      <p class="action"><a class="btn" href="{{ logout_url }}">Abmelden </a></p>
    </div>
  </section>
{% endblock %}
