{% ckan_extends %}

{% block page_heading %}
Ein Benutzer_innenkonto erstellen
{% endblock %}

{% block secondary_content %}
  <section class="module module-narrow module-shallow">
    <h2 class="module-heading">{{ _('Why Sign Up?') }}</h2>
    <div class="module-content">
      <p>{% trans %}Registrierten Benutzer_innen stehen alle Funktionen des opendataportal.at zur Verfügung. Das Eingeben von Daten ist nur als registrierte Benutzer_in möglich. In Ihrem Benutzer_innenkonto finden Sie eine Auflistung ihrer Datensätze, ihren persönlichen Nachrichten-Feed und weitere nützliche Informationen. {% endtrans %}</p>
    </div>
  </section>
{% endblock %}