body {
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	background: url('/img/bg_main.fw.png');
}

h1 {
	font-size: 26px;
	font-weight: bold;
	text-shadow: #FFFFFF 2px 2px 0px;
}

h3 {
	font-size: 16px;
	font-weight: bold;
	text-rendering: Normal;
}

table {
	background-color: #FFFFFF;
}

.account-masthead {
}

header.masthead {
}

#header_wrapper {
background-image: -webkit-linear-gradient(top, #f0f0f0 60%, #fff);
background-image: -moz-linear-gradient(top, #f0f0f0 60%, #fff);
background-image: -o-linear-gradient(top, #f0f0f0 60%, #fff);
background-image: linear-gradient(top, #f0f0f0 60%, #fff);
padding-top: 15px;
padding-bottom: 15px;
margin-bottom: 0;
}

#nav_wrapper {
border-bottom: 1px solid #2b4156;
background-color: #365c78;
background-image: -webkit-linear-gradient(top, #3a5c79, #324860);
background-image: -moz-linear-gradient(top, #3a5c79, #324860);
background-image: -o-linear-gradient(top, #3a5c79, #324860);
background-image: linear-gradient(top, #3a5c79, #324860);
}
.logo>img {

}

.beta {
	margin-top: 5px;
	vertical-align: top;
}

.tagline {
	font-weight: bold;
	margin-left: -50px;
	color: #000;
	top: 10px;
	position: relative;
}

.tagline .tagline-data {
	color: #8cc63f;
}

.masthead .content {
	top: 55px;
	color: #000;
}

.masthead .content a{
	color: #000;
}

.logo_datagvat {
	float: left;
	margin-right: 20px;
}

.logo_wikidata {
	float: left;
	margin-right: 20px;
}

.toplinks {
	float: right;
	margin-top: -130px;
} 

.toplinks a {
	color: #365c78;
	font-size: 12px;
}


.header-feedback {
	background: transparent url('/img/feedback.png') no-repeat;
	background-position: 0px 3px;
	display: inline;
	padding-left: 22px;
	width: 16px;
	height: 13px;	
}

.header-mailing {
	background: transparent url('/img/mailinglist_green.png') no-repeat;
	background-position: 0px 4px;
	display: inline;
	padding-left: 22px;
	margin-left: 10px;
	width: 15px;
	height: 10px;	
}

.header-register {
	background: transparent url('/img/arrow_green.png') no-repeat;
	background-position: 0px 2px;
	display: inline;
	margin-left: 14px;
	padding-left: 14px;
	width: 13px;
	height: 13px;	
}


.simple-input .field .btn-search {
	height: 30px;
	width: 43px;
	right: -7px;
	margin-top: -15px;
	background: url("../../../img/lupe.png");
	background-image: linear-gradient(to bottom,#97C500,#76A000);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#97C500',endColorstr='#76A000',GradientType=0);
	border: 1px solid #789E00;	
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	color: #FFFFFF;
}

.simple-input .field .btn-search:hover {
	height: 30px;
	width: 43px;
	right: -7px;
	margin-top: -15px;
	background: url("../../../img/lupe.png");
	background-image: linear-gradient(to bottom,#76A000,#97C500);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#76A000',endColorstr='#97C500',GradientType=0);
	border: 1px solid #789E00;	
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	color: #FFFFFF;
}


#field-sitewide-search {
	box-shadow: 0 2px 4px rgba(0,0,0,0.4) inset;
	border-radius: 15px;
	border: 1px solid #cccccc;
	font-style: italic;
	font-weight: 400;
	font-size: 13px;
	width: 257px;
}

.search-radio-buttons label {
	display: block;
	float: left;
	font-weight: normal;
	font-size: 12px;
}

.search-radio-buttons input {
	float: left;
	width: auto;
	margin: 0 3px 0 10px;
	top: 3px;
}

#navigation {

}

ul.nav-pills {
	border-right: 1px solid #627d97 !important;
border-left: 1px solid #304a65 !important;
}

.nav-pills>li {
		font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
	border-left: 1px solid #627d97;
	border-right: 1px solid #304a65;
}

.nav-pills>li>a {
    line-height: 20px;
    margin: 0;
	border-radius: 0px;
padding: 9px 15px;
color: white;
text-shadow: .05em .05em #000;	
}

.masthead .navigation .nav-pills li a:hover {
	background-color: #2e4f66;
box-shadow: 0 0 6px #000 inset;
color: #ccc !important;
}

.masthead .navigation .nav-pills li.active a {
background-color: #2e4f66;
box-shadow: 0 0 6px #000 inset;
}

.hero {
	background: #FFFFFF;
}

[role=main] {
	background: url("../../../img/bg_main.fw.png");
}

.homepage {
	background: url("../../../img/bg_main.fw.png")
}

.wrapper {
	border: none;
	background: none;
	box-shadow: none;
}


.toolbar .breadcrumb {
	font-size: 12px;
	color: #485F72;
}

.toolbar .breadcrumb li:after {
	background: url("../../../img/breadcrumb_arrow.fw.png") no-repeat center;
	width: 5px;
	height: 8px;
	content: "\00a0\00a0\00a0";
	background-position: 4px 5px;
}

.sidebar_item {
	margin-bottom: 20px;
}

.sidebar_header {
	font-size: 14px;
	color: #333333;
}

.sidebar_header:after {
	background: url("../../../img/divider.fw.png") no-repeat;

	width: 248px;
	height: 3px;
	display: table;
	content: "";
}

.sidebar_item .value{
	color: #4A5F72;
	font-size: 12px;
}

.well {
	background: none;
	border: none;
	box-shadow: none;
}

.btn-primary {
	background-image: linear-gradient(to bottom,#97C500,#76A000);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#97C500',endColorstr='#76A000',GradientType=0);
	border: 1px solid #789E00;
	border-radius: 20px;
	text-shadow: none;
}

.btn-primary:hover, .btn-primary:active , .btn-primary:focus {
	background-image: linear-gradient(to bottom,#76A000, #97C500);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#76A000',endColorstr='#97C500',GradientType=0);
	transition: none;
	background-position: 0,0;
}

.btn-danger {
	border-radius: 20px;
	text-shadow: none;
}

.btn-danger:hover, .btn-danger:active, .btn-danger:focus  {
	transition: none;
	background-position: 0,0;
}

.btn {
	border-radius: 20px;
}

.select2-container-multi .select2-choices .select2-search-choice {
	border-radius: 20px;
}

a.tag {
	background-color: #93C200;
	color: #FFFFFF;
	border: none;
	box-shadow: none;
}

a.tag:hover {
	background-color: #93C200;
	color: #FFFFFF;
	border: none;
	box-shadow: none;
}

label:after {
	content: '';
}

.intro {
	margin: 0 20px;
}

.control-label {
	font-size: 13px;
	color: #666666;
	font-weight: 600;
}

.control-group input, .control-group select, .control-group textarea {
	box-shadow: inset 0px 2px 4px rgba(0,0,0,0.1);
	border-radius: 5px;
}


.editor textarea {
	margin-bottom: 0px;
}


.info-footer {
	background: #FFFFFF;
	clear: both;
	margin-bottom: 20px;
	padding: 10px 0;
}


.info-footer a {
padding-top: 10px;
padding-bottom: 10px;
padding-right: 20px;
}
.more {
	color: #cccccc;
	font-weight: bold;
	margin-bottom: 10px;

}

#more_open_data {
	float: left;
	margin-right: 70px;
}



.site-footer {
	background: url("../../../img/bg_footer.fw.png");
	padding-top: 0px;
}

.attribution {
	float: none;
	width: 100%;
}

#rss {
	float:left;
	width: 25%;
}

#rss ul li {
	list-style-image: url('/img/rss.png');
}

#rss ul {
	padding-left: 22px;
}

#rss p, #contact p {
color: #ccc;
margin-top: 0px;
font-size: 14px;
height: 40px;
}

#contact {
	float: left;
}

#contact ul li {
	font-size: 12px;
}

#contact p {
position: relative;
top: -10px;	
}

#language_selector {
	float: left;
	width: 25%;
}

.lang-select {
	float: none;
}

.lang-select label {
color: #ccc;
margin-top: 0px;
font-size: 14px;
height: 40px;	
margin-bottom: 10px;
}

.footer-links {
padding-top: 35px;
color: #ccc;
font-size: 12px;
width: 100%;
}

.footer-links ul {
	width: auto;
}

.footer-links ul.links{
	float:right;
}

.footer-links li {
	float:left;
}

a.logo-twitter {
	background: transparent url('/img/twitter_white.png') 0 0 no-repeat;
	position: relative;
	top: 7px;
	display: inline-block;
	margin-left: 20px;
	width: 25px;
	height: 25px;
}

a.logo-twitter:hover {
	background: transparent url('/img/twitter_green.png') 0 0 no-repeat;
	position: relative;
	top: 7px;
	display: inline-block;
	margin-left: 20px;
	width: 25px;
	height: 25px;
}

a.logo-facebook {
	background: transparent url('/img/facebook_white.png') 0 0 no-repeat;
	position: relative;
	top: 7px;
	display: inline-block;
	margin-left: 20px;
	width: 25px;
	height: 25px;
}

a.logo-facebook:hover {
	background: transparent url('/img/facebook_green.png') 0 0 no-repeat;
	position: relative;
	top: 7px;
	display: inline-block;
	margin-left: 20px;
	width: 25px;
	height: 25px;
}


/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }