{% ckan_extends %}

  {% block package_organization %}
  {% endblock %}

  {% block package_info %}
  <div class="sidebar_item">
    <h2 class="sidebar_header">Veröffentlichende Organisation bzw. Person &nbsp;<img alt="{{ h.get_metadata_description_by_id('title')}}" title="{{ h.get_metadata_description_by_id('title')}}" src="/img/help.png" class="help" onmouseover="this.src = '/img/help_hover.png';" onmouseout="this.src = '/img/help.png';" /></h2>
    <p class="sidebar_value"><a href="/organization/{{ c.pkg_dict.organization.name }}">{{ c.pkg_dict.publisher }}</a></p>
  </div>
  <div class="sidebar_item">
    <h2 class="sidebar_header">Kategorie des Metadatensatzes &nbsp;<img alt="{{ h.get_metadata_description_by_id('categorization')}}" title="{{ h.get_metadata_description_by_id('categorization')}}" src="/img/help.png" class="help" onmouseover="this.src = '/img/help_hover.png';" onmouseout="this.src = '/img/help.png';" /></h2>
    {% if c.pkg_dict.categorization %}
      {% for cat in c.pkg_dict.categorization.split(",") if cat %}
      <p class="sidebar_value"><img src="/img/{{ cat.replace('{', '').replace('}','').replace(' ', '-') }}_small.png" /> &nbsp;{{ h.get_cat_by_id(cat.replace('{', '').replace('}','')) }}</p>
      {% endfor %}
    {% endif %}
  </div>
  <div class="sidebar_item">
    <h2 class="sidebar_header">Schlagworte &nbsp;<img alt="{{ h.get_metadata_description_by_id('tags')}}" title="{{ h.get_metadata_description_by_id('tags')}}" src="/img/help.png" class="help" onmouseover="this.src = '/img/help_hover.png';" onmouseout="this.src = '/img/help.png';" /></h2>
    <p class="sidebar_value">{% snippet "package/snippets/tags.html", tags=pkg.tags %}</p>
  </div>
  <div class="sidebar_item">
    <h2 class="sidebar_header">API - Link zu allen Metadaten</h2>
    <p class="sidebar_value"><a href="/api/rest/dataset/{{c.pkg_dict.id}}">/api/rest/dataset/{{c.pkg_dict.id}}</a></p>
  </div>
  <div class="sidebar_item">
    <h2 class="sidebar_header">RSS-Feeds für {{ c.pkg_dict.publisher }}</h2>
    <p class="sidebar_value"><ul><li><a href="/feeds/custom.atom?organization={{ c.pkg_dict.organization.name }}">geänderte Datensätze</a></li></ul></p>
  </div>
  <div class="sidebar_item">
    <h2 class="sidebar_header">Letzte Änderung</h2>
    <p class="sidebar_value">{{h.render_datetime(c.pkg_dict.metadata_modified, "%d.%m.%Y %H:%M:%S")}}</p>
  </div>  
  {% endblock %}

  {% block package_social %}
   
  {% endblock %}

  {% block package_license %}
  {% endblock %}

  {% block package_tags %}
    
  {% endblock %}

  {% block primary_content_inner %}
    {{ super() }}
     {% snippet "snippets/social.html" %}
  {% endblock %}  